body {
    font-family: 'Space Grotesk', sans-serif;
}
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #324d67;
    height: 4px;
    border-radius: 2px;
}
input[type="range"]::-moz-range-track {
    background-color: #324d67;
    height: 4px;
    border-radius: 2px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -6px;
    background-color: #137fec;
    height: 16px;
    width: 16px;
    border-radius: 9999px;
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    border: none;
    background-color: #137fec;
    height: 16px;
    width: 16px;
    border-radius: 9999px;
    cursor: pointer;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #324d67;
    transition: .4s;
    border-radius: 24px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #137fec;
}
input:checked + .slider:before {
    transform: translateX(16px);
}
